extends ../base

block head
    title Mogo
block content
    .wrapper
        .main-content
            header.header
                .container
                    .menu
                        .title
                            .title__name MoGo
                        .navigation
                            ul.navigation__list
                                - var list = [['#about' , 'about'],[ '#service', 'service'] , ['#work' , 'work'], ['#blog', 'blog'] , ['#contact', 'contact']]
                                each item in list
                                    li.navigation__item
                                        a(href=item[0] ).navigation__link #{item[1]}
                                - var pics = [['#trolley' , 'trolley'], ['#search' , 'search']]
                                each pic in pics
                                    li(class="navigation__item-" + pic[1]).navigation__item
                                        a(href=pic[0] class=pic[1])
                    hgroup.section__title
                        h2.section__title-desc Creative Template
                        h1.section__title-main Welcome to mogo
                    .section__button
                        a(href="#").section__buttton-link Learn more
                    .section__slider
                        ul.slider__list
                            - var list = [['01', 'intro'],['02', 'work'] , ['03','about'], ['04', 'contacts']]
                            each item in list
                                li.slider__item
                                    .slider__item-number #{item[0]}
                                    .slider__item-desc #{item[1]}
            section.about
                .container
                    .descriotion
                        hgroup.title-list
                            h4.title-first What we do
                            h2.title-second Story about as
                        .title-line
                        .description__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odio porro quae quaerat sint, vitae voluptatum. Ad deleniti esse impedit nesciunt numquam quo voluptas voluptates. Accusamus ea odio sapiente sit.
                    ul.about__list
                        - var pictures = ['pic1','pic2','pic3']
                        each picture in pictures
                            .about__item
                                li(class="about__item-" + picture).about__item-pics
                                    .about__img
                                        .about__img-pic
                                        .about__img-title Super Team
            section.results
                .container
                    ul.results__list
                        - var results = [['42','web design project'] , ['123', 'happy client'] , ['15', 'award winner'] , ['99' , 'cup of coffee'] , ['24' , 'members']]
                        each result in results
                            li.results__item
                                .results__item-number #{result[0]}
                                .results__item-desc #{result[1]}
            section.service
                .container
                    .descriotion
                        hgroup.title-list
                            h4.title-first We work with
                            h2.title-second Amazing services
                        .title-line
                    ul.service__list
                        -
                            var service = [
                            ['photo','Photography' , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do consectetur adipiscing elit' ],
                            ['web','Web Design','Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm consectetur adipiscing elit'],
                            ['creative','Creativity','Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem consectetur adipiscing elit'],
                            ['seo','seo','Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm consectetur adipiscing elit'],
                            ['css','Css/Html','Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem consectetur adipiscing elit'],
                            ['digital','digital','Sit amet, consectetur adipiscing elit, sed do eiusmod tempor consectetur adipiscing elit.']
                            ]
                        each item in service
                            li.service__item
                                .service__item-img(class = "service__item-img-" + item[0] )
                                .service__item-info
                                    .service__item-title #{item[1]}
                                    .service__item-desc #{item[2]}
            section.devices
                .container
                    .descriotion
                        hgroup.title-list
                            h4.title-first.title-first-pic For all devices
                            h2.title-second unique design
                        .title-line
                    .devices__phone
                        .devices__small-phone
            section.ourService
                .container
                    .descriotion
                        hgroup.title-list
                            h4.title-first Service
                            h2.title-second What we do
                        .title-line
                        .description__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odio porro quae quaerat sint, vitae voluptatum. Ad deleniti esse impedit nesciunt numquam quo voluptas voluptates. Accusamus ea odio sapiente sit.
                    .info
                        .info__left
                            img(src=require('./img/men.png')).info__left-pic
                        ul.info__right
                            -
                                var items = [
                                ['photo','Photography', 'Lorem ipsum dolor sit amet, consectetur  Lorem ipsum dolor sit amet,consectet Lorem ipsum dolor sit amet, consecte consectet Lorem ipsum dolor sit amet, consecte consectet Lorem ipsum dolor sit amet, consecte consectet Lorem ipsum dolor sit amet, consecte consectet Lorem ipsum dolor sit amet, consecte consectet Lorem ipsum dolor sit amet, consecte consectet Lorem ipsum dolor sit amet, consectet Lorem ipsum dolor sit amet, consectet adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit'   ],
                                ['creative','creativity','Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit'],
                                [ 'web','web design','Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit']
                                ]
                            each item in items
                                li.info__right-item
                                    .info__right-item-info
                                        .info__right-item-pic(class = "info__right-item-" + item[0] )
                                        .info__right-item-title #{item[1]}

                                    .info__right-item-desc #{item[2]}
            section.comments
                .container
                    .slider
                        button.slider__button.slider__button-left
                        .slider__container
                            .slider__block.slider__active
                                img(src=require("./img/SPEECH 4.png")).slier__block-img
                                .slider__block-info
                                    .slider__block-desc "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at blanditiis cupiditate deleniti dicta ducimus, ea esse expedita illo illum incidunt ipsam nemo nostrum quia sunt tenetur totam vitae!"
                                    .slider__block-sign Jon Dor
                            .slider__block
                                img(src=require("./img/SPEECH 4.png")).slier__block-img
                                .slider__block-info
                                    .slider__block-desc "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at blanditiis cupiditate deleniti dicta ducimus, ea esse expedita illo illum incidunt ipsam nemo nostrum quia sunt tenetur totam vitae!"
                                    .slider__block-sign Jon Dor
                            .slider__block
                                img(src=require("./img/SPEECH 4.png")).slier__block-img
                                .slider__block-info
                                    .slider__block-desc "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at blanditiis cupiditate deleniti dicta ducimus, ea esse expedita illo illum incidunt ipsam nemo nostrum quia sunt tenetur totam vitae!"
                                    .slider__block-sign Jon Dor
                        button.slider__button.slider__button-right
            section.team
                .container
                    .descriotion
                        hgroup.title-list
                            h4.title-first Who we are
                            h2.title-second Meet our team
                        .title-line
                        .description__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odio porro quae quaerat sint, vitae voluptatum. Ad deleniti esse impedit nesciunt numquam quo voluptas voluptates. Accusamus ea odio sapiente sit.
                    ul.team__list
                        -
                            var team = [
                            ['pic1','Matthew Dix','Graphic Design'],
                            ['pic2','Christopher Campbell','Branding/UX design'],
                            ['pic3','Michael Fertig ','Developer']
                            ]
                        each item in team
                            .team__item
                                li(class = "team__photo-" + item[0]).team__item__img
                                    .team__photo
                                        ul.socials
                                            -
                                                var socials = [
                                                ['fb' , 'https://www.facebook.com/'],
                                                ['tw','https://twitter.com/'],
                                                ['pt' , 'https://www.pinterest.ru/'],
                                                ['inst' ,'https://www.instagram.com/' ]
                                                ]
                                            each social in socials
                                                li(class=social[0]).socials__item
                                                    a(href=social[1]).socials__link
                                .team__info
                                    .team__name #{item[1]}
                                    .team__position #{item[2]}

            section.logos
                .container
                    img(src=require('./img/logos.png')).logos__picture
            section.work
                .container
                    .descriotion
                        hgroup.title-list
                            h4.title-first What we do
                            h2.title-second some of our work
                        .title-line
                        .description__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odio porro quae quaerat sint, vitae voluptatum. Ad deleniti esse impedit nesciunt numquam quo voluptas voluptates. Accusamus ea odio sapiente sit.
            section.pictures
                .picture__container
                    ul.pictures__left
                        - var pictures = ['pic1','pic2','pic3','pic4']
                        each item in pictures
                            li(class = 'pictures__item_' + item).pictures__item
                                .pictures__item-info
                                    .pictures__item-img
                                    .pictures__item-position creatively designed
                                    .pictures__item-desc Lorem ipsum dolor sit
                    ul.pictures__right
                        - var pictures = ['pic5','pic6','pic7']
                        each item in pictures
                            li(class = 'pictures__item_' + item).pictures__item
                                .pictures__item-info
                                    .pictures__item-img
                                    .pictures__item-position creatively designed
                                    .pictures__item-desc Lorem ipsum dolor sit
            section.opinion
                .container
                    .slider
                        button.slider__button.slider__button-left
                        .slider__container
                            .slider__block.slider__active
                                img(src=require("./img/ava1.png")).slier__block-img_opinion
                                .slider__block-info.slider__block-info_opinion
                                    .slider__block-desc "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at blanditiis cupiditate deleniti dicta ducimus, ea esse expedita illo illum incidunt ipsam nemo nostrum quia sunt tenetur totam vitae!"
                                    .slider__block-sign Jon Dor
                            .slider__block
                                img(src=require("./img/ava2.png")).slier__block-img_opinion
                                .slider__block-info.slider__block-info_opinion
                                    .slider__block-desc "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at blanditiis cupiditate deleniti dicta ducimus, ea esse expedita illo illum incidunt ipsam nemo nostrum quia sunt tenetur totam vitae!"
                                    .slider__block-sign Jon Dor
                            .slider__block
                                img(src=require("./img/ava3.png")).slier__block-img_opinion
                                .slider__block-info.slider__block-info_opinion
                                    .slider__block-desc "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at blanditiis cupiditate deleniti dicta ducimus, ea esse expedita illo illum incidunt ipsam nemo nostrum quia sunt tenetur totam vitae!"
                                    .slider__block-sign Jon Dor
                        button.slider__button.slider__button-right
            section.clients
                .container
                    .descriotion.descriotion__clients
                        hgroup.title-list
                            h4.title-first Happy clients
                            h2.title-second What people say
                        .title-line
                    ul.clients__list
                        -
                            var clients = [
                            [require( "./img/ava2.png"), 'Matthew Dix', 'Graphic Design' , 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam, assumenda aut commodi cum deleniti dolore earum exercitationem fuga hic iure laudantium modi officia optio'],
                            [require( "./img/ava3.png"), 'Nick Karvounis', 'Graphic Design' , 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam, assumenda aut commodi cum deleniti dolore earum exercitationem fuga hic iure laudantium modi officia optio'],
                            [require( "./img/ava4.png"), 'Jaelynn Castillo', 'Graphic Design' , 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam, assumenda aut commodi cum deleniti dolore earum exercitationem fuga hic iure laudantium modi officia optio'],
                            [require( "./img/ava5.png"), 'Mike Petrucci', 'Graphic Design' , 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquam, assumenda aut commodi cum deleniti dolore earum exercitationem fuga hic iure laudantium modi officia optio'],
                            ]
                        each client in clients
                            li.client__item
                                img(src=client[0]).client__item-img
                                .client__item-info
                                    .client__item-name #{client[1]}
                                    .client__item-position #{client[2]}
                                    .client__item-desc #{client[3]}
            section.blog
                .container
                    .descriotion
                        hgroup.title-list
                            h4.title-first Our stories
                            h2.title-second latest blog
                        .title-line
                    ul.blog__list
                        -
                            var blogs = [
                            [require("./img/women.png") , '15' , 'Jan' , 'Lorem ipsum dolor sit amet' , 'Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut sed do eiusmod' , '572' , '17'],
                            [require("./img/laptop_1.png") , '14' , 'Jan' , 'sed do eiusmod tempor' , 'Adipiscing elit, sed do eiusmod tempor incididunt ut labore et ', '992','42' ],
                            [require("./img/tablet.png") , '12' , 'Jan' , 'incididunt ut labore et dolore' , 'Elit, sed do eiusmod tempor incididunt ut labore et dolore magn', '1560' ,'98' ]
                            ]
                        each blog in blogs
                            li.blog__item
                                a.blog__link
                                    .blog__list-img
                                        img(src=blog[0]).blog__list-pic
                                        .blog__list-date
                                            .blog__list-number #{blog[1]}
                                            .blog__list-month #{blog[2]}
                                    .blog__lost-info
                                        .blog__list-title #{blog[3]}
                                        .blog__list-desc #{blog[4]}
                                    .observ
                                        .observ-number #{blog[5]}
                                        .observ-comments #{blog[6]}
            section.map
                    .map__info
                        .map__sign
                        .map__title Open map
                    .close
            footer.footer
                .container
                    .footer__left
                        .footer__description
                            .footer__title
                            .footer__text
                        .footer__followers #[strong 15K] followers
                        ul.footer__links
                            -
                                var links = [
                                ['facebook', 'https://www.facebook.com/'],
                                ['twitter' , 'https://twitter.com/'],
                                ['instagram' , 'https://www.instagram.com/'],
                                ['pinterest' , 'https://www.pinterest.ru/'],
                                ['google', 'https://www.google.com/'],
                                ['youtube' ,'https://www.youtube.com/'],
                                ['dribble','https://dribbble.com/' ],
                                ['tumblr', 'https://www.tumblr.com/']
                                ]
                            each link in links
                                li(class="footer__item-" + link[0])
                                    a(href=link[1] class="footer__link-" + link[0]) #{link[1]}
                        form.footer__form
                            input(name="email" type="email" id="email" placeholder="Your Email..." title="Enter your e-mail" class="input__email")
                            input(value="Subscribe" type="submit")
                    .footer__middle
                        .footer__middle-title Blogs
                        ul.footer__list
                            -
                                var list =  [
                                [require("./img/chandelier.png"),'Lorem ipsum dolor sit amet,  consectetur adipiscing', 'Jan 9, 2016'],
                                [require("./img/pic_1.png"),'Consectetur adipiscing elit,  sed do eiusmod tempor', 'Jan 9, 2016'],
                                [require("./img/men_with_gita.png"),'sed do eiusmod tempor  incididunt ut labore', 'Jan 9, 2016']
                                ]
                        each item in list
                            li.footer__item
                                a.fooer__middle-link
                                    img(src=item[0]).footer__item-pic
                                    .footer__item-desc #{item[1]}
                                    .footer__item-date #{item[2]}
                    .footer__right
                        .footer__right_title Instagram
                        ul.footer__photos
                            -
                                var photos = [require('./img/photos-1.png'), require('./img/photos-2.png'), require('./img/photos-3.png'),
                                require('./img/photos-4.png'),require("./img/photos-5.png"), require('./img/photos-2.png'),
                                require('./img/photos-3.png'),require('./img/photos-4.png'),require("./img/photos-5.png")]
                            each photo in photos
                                li.photos__item
                                    img(src=photo).photos__item-img
                        a(href="#").photos__link View more photos
                    .footer__bottom
                        p.footer__bottom_text 2019 MoGo Alex




























